<div class="row">
    <div class="col-md-4 offset-md-4 text-center">
        <form *ngIf="hero">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" [(ngModel)]="hero.Name" placeholder="Type name here..." />
            </div>
        </form>

        <div class="card" *ngIf="hero">
            <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">{{hero.Id}}: {{hero.Name}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-sm btn-outline-success float-md-right" (click)="save()">Save</button>
                <button class="btn btn-sm btn-outline-secondary float-md-right" (click)="goBack()">Go back</button>
            </div>
        </div>

        <div class="row" *ngIf="updateSuccessful">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>{{hero.Name}}</strong> successfully updated.
                </div>
            </div>
        </div>
    </div>
</div>
