<h4>Heroes</h4>

<form class="form-inline">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Type name of hero to add..."
               name="Name"
               [(ngModel)]="newName" />
    </div>
    <button class="btn btn-primary" (click)="add()">Add</button>
</form>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let hero of heroes"
        (click)="onSelect(hero)">
        <span class="tag tag-default tag-pill float-xs-right">{{hero.Id}}</span>
        {{hero.Name}}
    </li>
</ul>

