/* You can add global styles to this file, and also import other style files */
.body-content {
    margin-top: 60px;
}

.list-group .list-group-item:hover {
    cursor: pointer;
    background-color: #f7d88e;
}