<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - coreng2cli</title>
    <base href="/">

    @*<environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@

</head>
<body>

    @RenderBody()

    <environment names="Development">
        <script type="text/javascript" src="/inline.js"></script>
        <script type="text/javascript" src="/styles.bundle.js"></script>
        <script type="text/javascript" src="/scripts.bundle.js"></script>
        <script type="text/javascript" src="/main.bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="inline.js"></script>
        <script type="text/javascript" src="styles.9b30d38c461d693b9e4b.bundle.js"></script>
        <script type="text/javascript" src="scripts.6d01f6deedf7418b4d66.bundle.js"></script>
        <script type="text/javascript" src="main.30a7ee305a6177b51975.bundle.js"></script>
    </environment>

@RenderSection("scripts", required: false)
<script>
        $(function () {

            console.log('hello world');
        });
</script>
</body>
</html>
